<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>App Cibertec</span>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="irOpcionHome()">Home</button>&nbsp;
    <button mat-raised-button >Curso</button>&nbsp;
    <button mat-raised-button >Alumno</button>
    <span class="example-spacer"></span>
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>power_settings_new</mat-icon>
    </button>
</mat-toolbar>  
<hr />
<router-outlet></router-outlet>

